.login {
	min-height: 100vh;
  }
  
  .bg-image {
	background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
	background-size: cover;
	background-position: center;
  }
  
  .login-heading {
	font-weight: 500;
  padding-left: 200px;
  font-size: 31px;
  margin-bottom: 5px;
  color: #13C5DD;
  padding-bottom: 45px;



  }
  
  .btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
  }
  
#icon {
	width: 500;
    height: 359px;
    margin-left: 41px;
	margin-bottom: 35px;
  border-radius: 29px;

  }





  /* material */


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

  }
  
  .example-full-width {
    width: 100%;

    
  }
  
 
  body{
   
    background-image: url("../../../assets/HomeAssets/img/back2.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    

}
