<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-admin-side-bar></app-admin-side-bar>
        <!-- Layout container -->
        <div class="layout-page">
            <app-admin-header></app-admin-header>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <br>

                <div class="container">

                    <form [formGroup]="UpdateHomeForm">
                        <div class="row g-3">
                            <div>

                            <label>Image One :</label>
                            <div class="col-12 col-sm-6">
                                <input type="file" class="form-control" id="customFile" style="width: 73%;" #File  accept="image/*"
                                    required />
                            </div>

                        </div>

                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control  border-0" placeholder="Email"
                                    formControlName="email" style="height: 55px;">
                                <small *ngIf="UpdateHomeForm.controls['email'].hasError('required') ">
                                    Email is <strong>required</strong>
                                </small>
                                <small *ngIf="UpdateHomeForm.controls['email'].hasError('email') ">
                                    Not valid <strong>Email</strong>
                                </small>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <input type="number" class="form-control  border-0" placeholder="Phone"
                                    formControlName="phone" style="height: 55px;">
                                <small *ngIf="UpdateHomeForm.controls['phone'].hasError('required') ">
                                    Phone is <strong>required</strong>
                                </small>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control  border-0" placeholder="Address"
                                    formControlName="address" style="height: 55px;">
                                <small *ngIf="UpdateHomeForm.controls['address'].hasError('required') ">
                                    Address is <strong>required</strong>
                                </small>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control  border-0" placeholder="Logo"
                                    formControlName="logo" style="height: 55px;">
                                <small *ngIf="UpdateHomeForm.controls['logo'].hasError('required') ">
                                    Phone is <strong>required</strong>
                                </small>
                            </div>

                            <div class="col-12">
                                <textarea class="form-control  border-0" rows="5" formControlName="paragraph"
                                    placeholder="Paragraph One "></textarea>
                                <small *ngIf="UpdateHomeForm.controls['paragraph'].hasError('required')">
                                    Paragraph One is <strong>required</strong>
                                </small>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control  border-0" rows="5" formControlName="text1"
                                    placeholder=" Paragraph Two"></textarea>
                                <small *ngIf="UpdateHomeForm.controls['text1'].hasError('required')">
                                    Paragraph Two is <strong>required</strong>
                                </small>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3"  [disabled]="UpdateHomeForm.invalid" (click)="UpdateHome()"
                                    type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>


<br>
<br>
<app-admin-footer></app-admin-footer>