<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
>
  <p class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">Addiciton Cure</p>
 
</ngx-spinner>

<!-- Navbar Start -->
<app-home-header></app-home-header>
<!-- Navbar End -->


<!-- Doctors starts -->

 <!-- Search Start -->
 <div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h2 class="d-inline-block text-primary text-uppercase border-bottom border-5">Find A Doctor</h2>
            
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <input type="text" class="form-control border-primary w-50" placeholder="Keyword" >
                <button class="btn btn-dark border-0 w-25" (click)="SearchDoctor()">Search</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->


<!-- Search Result Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <!--doctor card -->
            <!-- <app-doctor-card [img]="item.img"  [name]="item.name" [specialty]="item.specialty" [Description]="item.Description"  *ngFor="let item of items"  class="col-lg-6 team-item"></app-doctor-card> -->
            <app-doctor-card *ngFor="let item of adminService.Doctors" [img]="item.imagename"  [fname]="item.firstname" [lname]="item.lastname"  [specialty]="item.level1" [Description]="item.patientacs" class="col-lg-6 team-item"></app-doctor-card> 
            <!--end doctor card -->
            <div class="col-12 text-center">
                <button class="btn btn-primary py-3 px-5">Load More</button>
            </div>
        </div>
    </div>
</div>  
<!-- Search Result End -->

<!-- Doctors End -->


<!-- Footer Start -->
<app-home-footer></app-home-footer>
<!-- Footer End -->