<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
    <p class="d-inline-block text-primary text-uppercase border-bottom border-5"
        style="border-color: rgba(256, 256, 256, .3) !important;">Addiciton Cure</p>

</ngx-spinner>





<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-admin-side-bar></app-admin-side-bar>
        <!-- Layout container -->
        <div class="layout-page">
            <app-admin-header></app-admin-header>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <br>
                    <br>
                    <div class="card mb-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Paragraph</th>
                                    <th>Paragraph</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of sharedservice.AboutUs">
                                    <td>{{item.image}}</td>
                                    <td>{{item.paragraph1}}</td>
                                    <td>{{item.paragraph2}}</td>
                                    <td>
                                        <input type="button" value="Update" class="btn btn-success" (click)="OpenUpdateDialog(item.id)">
                                        <input type="button" value="Delete" class="btn btn-danger" (click)="OpenDeleteDialog(item.id)">
                                        <input type="button" value="Details" class="btn btn-primary" (click)="OpenDialog(item.id)">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>






<ng-template #UpdateForm>


    
    <div mat-dialog-content>
        <form [formGroup]="UpdateAboutUsForm" class="example-form">

            <!--     
       <input type="file" #file (change)="UploadImage(file)"> -->
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Paragraph one</mat-label>
                    <input type="text" matInput formControlName="paragraph1">
                    <mat-error *ngIf="UpdateAboutUsForm.controls['paragraph1'].hasError('required')">
                        Paragraph is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width">
                    <mat-label>Paragraph two</mat-label>
                    <input type="text" matInput formControlName="paragraph2">
                    <mat-error *ngIf="UpdateAboutUsForm.controls['paragraph2'].hasError('required')">
                        Paragraph  is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div mat-dialog-actions>
                <input type="button" [disabled]="UpdateAboutUsForm.invalid" value="Update" class="btn btn-dark" (click)="UpdateAboutUs()" mat-dialog-close>
                <input type="button" mat-dialog-close="" value="Cancel" class="btn btn-dark">
            </div>
        </form>
    </div>


</ng-template>



<ng-template #DeleteForm>

    <div matDialogContent>
        <h2 mat-dialog-content><b>Would you like to delete this Doctor ?</b></h2>
        <div mat-dialog-actions>
            <input mat-dialog-close value="Yes" type="button" class="btn btn-danger" (click)="DeleteAbout()">
            <input type="button" mat-dialog-close="" value="Cancel" class="btn btn-dark">
        </div>
    </div>


</ng-template>


<ng-template #DetailsForm>

    <h1 mat-dialog-title>About Details</h1>
    <div mat-dialog-content>Image :{{this.sharedservice.AboutById.image}}</div>
    <div mat-dialog-content>First Paragraph:{{this.sharedservice.AboutById.paragraph1}}</div>
    <div mat-dialog-content>Second Paragraph :{{this.sharedservice.AboutById.paragraph2}}</div>

    
    <div mat-dialog-actions>
        <input type="button" mat-dialog-close="" value="Close" class="btn btn-dark">
    </div>


</ng-template>