.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  mat-slider {
    width: 600px;
  }
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }