<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-admin-side-bar></app-admin-side-bar>
        <!-- Layout container .................-->
        <div class="layout-page">
            <app-admin-header></app-admin-header>
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <br>
                    <td><input type="button" value="Create" class="btn btn-dark"></td>
                    <br>
                    <div class="card mb-4">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>First Name Doctors</th>
                                    <th>Last Name Doctors</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of adminService.Doctors">
                                    <td>{{item.imagename}}</td>
                                    <td>{{item.firstname}}</td>
                                    <td>{{item.lastname}}</td>
                                    <td>
                                    <input type="button" value="Update" class="btn btn-success">
                                    <input type="button" value="Delete" class="btn btn-danger">
                                    <input type="button" value="Details" class="btn btn-primary" (click)="openDetalisDialog(item.doctodid)">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
<app-admin-footer></app-admin-footer>





<ng-template #CreateForm>


</ng-template>



<ng-template #UpdateForm>


</ng-template>



<ng-template #DeleteForm>


</ng-template>



<ng-template #DetailsForm>

    <div mat-dialog-content>{{this.adminService.DoctorById.imagename}}
    
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </div>
</div>
</ng-template>