<div class="container-fluid sticky-top" style="margin-top: 0.5%;">
<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <a class="navbar-brand" routerLink="" style="margin-left: 1.5%;">Home Addiction Cure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand" routerLink="/Doctor/Profile3">Edit Profile</a>
        <a class="navbar-brand" routerLink=""></a>
        <a class="navbar-brand" routerLink="" (click)="Logout()">Logout</a>
      </form>
    </div>
  </nav>
</div>
  <br>