
<div class="container-fluid sticky-top" style="background-color: #007383;"  >
<nav class="main-header navbar navbar-expand navbar-dark navbar-light " style="background-color: #007383;">
  <a class="navbar-brand" routerLink="" style="margin-left: 1.5%; font-family:serif;">Home Addiction Cure</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="navbar-brand"  style="font-family: serif;" routerLink=""> Home </a>
      <a class="navbar-brand" routerLink="/Admin/Profile" routerLink="/Admin/Profile" style="font-family: serif;">Edit Profile</a>
      <a class="navbar-brand" routerLink=""  style="font-family: serif;" (click)="Logout()">Logout</a>
    </form>
  </div>
</nav>
</div>
<br>