<a></a>
<div class="container">
    <div class="card px-4">
        <p class="h2 py-3">Payment Details</p>
        <div class="row gx-3">
            <form [formGroup]="paymentform">
                <div class="col-12">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Card Number</p>
                        <input formControlName="cardnumber" class="form-control mb-3"  (click)="ShowAError()" type="number" placeholder="1234 5678 435678">
                        <small class="text-danger" *ngIf="paymentform.controls['cardnumber'].hasError('required') ">
							Card Number is <strong>Required</strong>
						  </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">Expiry</p>
                        <input formControlName="dateCard" class="form-control mb-3" type="month" id="month-year" (click)="ShowBError()" name="month-year"
                            placeholder="MM/YYYY">
                            <small class="text-danger" *ngIf="paymentform.controls['dateCard'].hasError('required') ">
                                Expiry is <strong>Required</strong>
                              </small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex flex-column">
                        <p class="text mb-1">CVC</p>
                        <input formControlName="cvcCard" class="form-control mb-3 " type="number" (click)="ShowCError()" placeholder="123">
                        <small class="text-danger" *ngIf="paymentform.controls['cvcCard'].hasError('required') ">
							CVC is <strong>Required</strong>
						  </small>
                    </div>
                </div>
                <div class="col-12">
                    <div class="btn btn-primary mb-3">
                        <span (click)="payment()" class="ps-3">Amount {{this.Amount}}</span>
                        <span class="fas fa-arrow-right"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>